*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #073b4c;
    color: black;
    text-align: center;
}

h1, h2{
    color: white;
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #118ab2;
}

.fizzbuzz_color{
    background-color: lime;
    border-radius: 50%;
}

.fizz_color{
    background-color: yellow;
}

.buzz_color{
    background-color: hotpink;
}